
.highlight-card {
  display: flex;
  flex-direction: column; /* Stack avatar and name vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  width: 80px; /* Size of the card */
  height: 120px; /* Enough space for avatar and name */
  border-radius: 50%; /* Make card circular */
  box-shadow: none; /* Remove the default shadow */
  background-color: transparent; /* Transparent background */
  text-align: center; /* Ensure text is centered */
  cursor: pointer; /* Add cursor for clickable element */
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.highlight-card:hover {
  transform: scale(1.1); /* Scale up the card on hover */
}

/* Avatar Styling inside the Card */
.highlight-avatar-container {
  margin-bottom: 5px; /* Space between avatar and name */
 
}

.highlight-avatar img {
  width: 60px; /* Size of the avatar */
  height: 60px; /* Size of the avatar */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image doesn't stretch */
}

/* Styling for the Highlight Name (Below the Avatar) */
.highlight-name-container {
  margin-top: 5px; /* Space between avatar and name */
}

.highlight-name {
  font-size: 12px; /* Adjust font size */
  font-weight: bold;
  color: #333; /* Text color */
  text-align: center;
  margin: 0; /* Remove default margin */
}


/* Styling for modal image */
.modal-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.scroll-horizontal {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;
}



/* Adjust the layout for web and mobile */
@media (max-width: 768px) {
  .highlight-card {
    max-width: 60px; /* Reduce card size on smaller screens */
  }

  .highlight-avatar img {
    width: 50px; /* Smaller avatar on mobile */
    height: 50px; /* Smaller avatar on mobile */
  }

  .highlight-name {
    font-size: 10px; /* Smaller name text on mobile */
  }
}
.popup-background {
  height: 150vh; /* Adjust height for smaller screens */
}

  


