/* index.css or App.css */


.avathar{
  margin-right:"0px"
}

.addbutton{
  --background: rgba(236, 9, 81, 0.603);
  margin-left: 80%;
 
}
.input-box {
  border: 1px solid #090909;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  margin-top: 8%;
}

.input-field {
  font-size: 16px;
  padding: 8px;
 
}
.wishlist{
  
  display: flex;
}
.Input-field{
  margin-top: 10%;
}
.wishlistname{
  text-align: center;
}
.title{
  text-align: center;
  margin-bottom: -6%;
}
.home-background {
  --background: #dbe8f284; /* Ionic uses CSS variables */
  
}

