.form-item {
  display: block;
  margin-bottom: 16px;
}

.form-item .ion-label {
  display: block;
  margin-bottom: 8px; /* Adds spacing between label and input */
}

.form-item .ion-input, .form-item .ion-textarea {
  width: 100%;
}
.button{
  --background: rgba(236, 9, 81, 0.603);
  margin-top: 10%;
  border-radius: 20%;
}
.Avatar {
  display: grid; /* Enable grid layout */
  place-items: center; /* Center both horizontally and vertically */
   /* Set full height for vertical centering */
  text-align: center;
  margin-left: 40%;
  margin-top: 10%;

}

