.wishlist-content {
  padding: 16px;
}

.wishlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.wishlist-actions {
  display: flex;
  gap: 10px;
}

.add-btn,
.delete-btn,
.buy-btn {
  font-weight: bold;
  border-radius: 8px;
  text-transform: uppercase;
}

.item-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
}

.item-image {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}

.item-details {
  flex: 1;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-icon {
  font-size: 20px;
  cursor: pointer;
  margin-left: 89%;
  
}

.item-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.delete-btn {
  background-color: #d9534f;
  color: white;
}

.buy-btn {
  background-color: #6f42c1;
  color: white;
}

.no-items {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
}
.small-image {
  width: 100px;  /* Set desired width */
  height: 100px; /* Set desired height */
  object-fit: cover; /* Ensures the image fits well */
  border-radius: 8px; /* Optional: Adds rounded corners */
  margin-right: 20%;

}
.wishlist-actions{
  margin-left: 30px;
  margin-top: 10px;
}
.wishlist-buttons{
  margin-left: 30px;
}
.wishlist-title{
  margin-top: 20px;
}
